.blog-wrapper .post-meta ul span,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1e1e1e
}

a,
a:hover {
    transition: .5s ease-in-out
}

.display-5,
.display-6 {
    font-weight: 300;
    line-height: 1.1
}

.overlay-mf,
.scrolltop-mf span {
    background-color: #be3131;
    opacity: .7
}

#errormessage,
#sendmessage {
    padding: 15px;
    margin-bottom: 15px
}

.button,
.table-cell {
    vertical-align: middle
}

body {
    background-color: #f5f5f5;
    color: #4e4e4e
}

.blog-wrapper .post-meta ul a,
.box-comments .list-comments a,
.color-a,
.navbar-b.navbar-reduce .active>.nav-link,
.navbar-b.navbar-reduce .nav-link,
.navbar-b.navbar-reduce .nav-link.active,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link:hover,
.navbar-b.navbar-reduce .navbar-brand,
.navbar-b.navbar-reduce .show>.nav-link,
.work-content .w-like a,
.work-content .w-more .w-ctegory,
a:hover {
    color: #be3131
}

a:hover {
    text-decoration: none
}

.card-blog .card-body,
.navbar-toggler,
.p-r {
    position: relative
}

.color-d {
    color: #f5f5f5
}

.card-blog .card-description,
.color-text-a,
.service-box .s-description,
.skill-mf span,
.subtitle-a {
    color: #4e4e4e
}

.box-shadow,
.card-blog,
.paralax-mf,
.service-box,
.work-box {
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, .1)
}

.box-shadow-a,
.button:hover {
    box-shadow: 0 0 0 4px #f5dcdc
}

.display-5 {
    font-size: 2.5rem
}

.display-6 {
    font-size: 2rem
}

.avatar {
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden
}

.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center
}

.overlay-mf {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    width: 100%
}

.paralax-mf {
    position: relative;
    padding: 8rem 0
}

.display-table {
    width: 100%;
    height: 100%;
    display: table
}

.table-cell {
    display: table-cell
}

.sect-4 {
    padding: 4rem 0
}

.sect-pt4 {
    padding-top: 4rem
}

.contact-mf,
.sect-mt4 {
    margin-top: 4rem
}

.title-s {
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem
}

.title-box {
    margin-bottom: 4rem
}

.title-a {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase
}

.line-mf {
    width: 40px;
    height: 5px;
    background-color: #be3131;
    margin: 0 auto
}

.box-shadow-full,
.title-box-2 {
    margin-bottom: 3rem
}

.title-left {
    font-size: 2rem;
    position: relative
}

.title-left:before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #be3131;
    width: 100px;
    bottom: -12px
}

.box-pl2 {
    padding-left: 2rem
}

.box-shadow-full {
    padding: 3rem 1.25rem;
    position: relative;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2)
}

.socials {
    padding: 1.5rem 0
}

.card-blog .post-author,
.owl-theme .owl-dots .owl-dot,
.socials ul li {
    display: inline-block
}

.socials .ico-circle {
    height: 40px;
    width: 40px;
    font-size: 1.7rem;
    border-radius: 50%;
    line-height: 1.4;
    margin: 0 15px 0 0;
    box-shadow: 0 0 0 3px #be3131;
    transition: .5s
}

.socials .ico-circle:hover {
    background-color: #be3131;
    color: #fff;
    box-shadow: 0 0 0 3px #f5dcdc;
    transition: .5s
}

.blog-wrapper .post-meta ul,
.box-comments .list-comments,
.list-ico,
.socials ul,
.ul-resect,
.widget-sidebar .list-sidebar,
.widget-tags ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0
}

.list-ico {
    line-height: 2
}

.list-ico span {
    color: #be3131;
    margin-right: 10px
}

.ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #be3131;
    display: block
}

.owl-theme .owl-dots {
    text-align: center;
    margin-top: 18px
}

.owl-theme .owl-dots .owl-dot span {
    width: 18px;
    height: 7px;
    margin: 5px;
    #f5dcdc
    border: 0 solid #f5dcdc;
    display: block;
    transition: .6s ease-in-out;
    cursor: pointer
}

.back-to-top,
.scrolltop-mf span {
    border-radius: 50%;
    color: #fff;
    text-align: center
}

.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #f5dcdc
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: #1b1b1b;
    width: 25px
}

.scrolltop-mf {
    position: relative;
    display: none
}

.scrolltop-mf span {
    z-index: 999;
    position: fixed;
    width: 42px;
    height: 42px;
    font-size: 1.6rem;
    line-height: 1.5;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 50px;
    cursor: pointer
}

.navbar-b.navbar-trans .nav-link:before,
.navbar-toggler span {
    background-color: #fff
}

.back-to-top {
    position: fixed;
    display: none;
    #be3131
    width: 44px;
    height: 44px;
    line-height: 1;
    font-size: 16px;
    right: 15px;
    bottom: 15px;
    transition: background .5s;
    z-index: 11
}

.back-to-top i {
    padding-top: 12px;
    color: #fff
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    #fff
}

#preloader:before {
    content: ""
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #be3131;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: 1s linear infinite animate-preloader;
    animation: 1s linear infinite animate-preloader
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.navbar-b {
    transition: .5s ease-in-out;
    background-color: transparent;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem
}

.navbar-b.navbar-reduce {
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, .06);
    transition: .5s ease-in-out;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px
}

.navbar-b.navbar-reduce .nav-item,
.navbar-b.navbar-trans .nav-item {
    position: relative;
    padding-right: 10px;
    padding-left: 0
}

.navbar-b.navbar-reduce .nav-link,
.navbar-b.navbar-trans .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600
}

.navbar-b.navbar-reduce .nav-link:before,
.navbar-b.navbar-trans .nav-link:before {
    content: '';
    position: absolute;
    margin-left: 0;
    width: 0%;
    bottom: 0;
    left: 0;
    height: 2px;
    transition: .5s
}

.navbar-b.navbar-reduce .active>.nav-link:before,
.navbar-b.navbar-reduce .nav-link.active:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link:hover:before,
.navbar-b.navbar-reduce .show>.nav-link:before,
.navbar-b.navbar-trans .active>.nav-link:before,
.navbar-b.navbar-trans .nav-link.active:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-trans .show>.nav-link:before {
    width: 35px
}

.intro-single .breadcrumb a,
.navbar-b.navbar-trans .active>.nav-link,
.navbar-b.navbar-trans .nav-link.active,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-trans .show>.nav-link,
.widget-tags ul li a,
footer .credits a {
    color: #fff
}

.navbar-b .dropdown-menu .dropdown-item.active,
.navbar-b.navbar-reduce .nav-link:before {
    background-color: #be3131
}

.navbar-b.navbar-reduce .navbar-toggler span {
    background-color: #1b1b1b
}

.navbar-b .navbar-brand {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600
}

.navbar-b .dropdown-btn.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible !important
}

.navbar-b .dropdown-menu {
    margin: 1.12rem 0 0;
    border-radius: 0
}

.navbar-b .dropdown-menu .dropdown-item {
    padding: .7rem 1.7rem;
    transition: .5s
}

.navbar-b .dropdown-menu .dropdown-item:hover {
    background-color: #be3131;
    color: #fff;
    transition: .5s
}

.button:focus,
.navbar-toggler:active,
.navbar-toggler:focus {
    outline: 0
}

.navbar-toggler span {
    display: block;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    left: 0;
    opacity: 1
}

.navbar-toggler span:first-child,
.navbar-toggler span:nth-child(3) {
    transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out
}

.navbar-toggler:not(.collapsed) span:first-child {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: .9
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: .9
}

.intro {
    height: 100vh;
    position: relative;
    color: #fff
}

.intro .intro-content {
    text-align: center;
    position: absolute
}

.intro .overlay-itro {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .9
}

.intro .intro-title {
    color: #fff;
    font-weight: 600;
    font-size: 3rem
}

.intro .intro-subtitle {
    font-size: 1.5rem;
    font-weight: 300
}

.intro .text-slider-items {
    display: none
}

.intro-single {
    height: 350px
}

.intro-single .intro-content {
    margin-top: 30px
}

.intro-single .intro-title {
    text-transform: uppercase;
    font-size: 3rem
}

.intro-single .breadcrumb {
    background-color: transparent;
    color: #be3131
}

.intro-single .breadcrumb .breadcrumb-item.active,
.intro-single .breadcrumb .breadcrumb-item:before {
    color: #f5dcdc
}

.about-mf .box-shadow-full {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.about-mf .about-img {
    margin-bottom: 2rem
}

.about-mf .about-img img {
    margin-left: 10px
}

.skill-mf .progress {
    background-color: #f5dcdc;
    margin: .5rem 0 1.2rem;
    border-radius: 0;
    height: .7rem
}

.skill-mf .progress .progress-bar {
    height: .7rem;
    background-color: #be3131
}

.service-box {
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem
}

.service-box:hover .ico-circle {
    transition: .5s;
    color: #fff;
    background-color: #be3131;
    box-shadow: 0 0 0 10px #f5dcdc
}

.service-box .service-ico {
    margin-bottom: 1rem;
    color: #1e1e1e
}

.service-box .ico-circle {
    transition: .5s;
    font-size: 4rem
}

.service-box .s-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: .4rem 0
}

.counter-box,
.testimonial-box {
    color: #fff;
    text-align: center
}

.counter-ico {
    margin-bottom: 1rem
}

.counter-ico .ico-circle {
    height: 60px;
    width: 60px;
    line-height: 1.8;
    box-shadow: 0 0 0 10px #f5dcdc
}

.counter-num .counter {
    font-size: 2rem;
    margin-bottom: 0
}

.work-box {
    margin-bottom: 3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff
}

.work-box:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
}

.work-img {
    display: block;
    overflow: hidden
}

.work-img img {
    transition: 1s
}

.work-content {
    padding: 2rem 3% 1rem 4%
}

.work-content .w-more {
    color: #4e4e4e;
    font-size: .8rem
}

.work-content .w-like {
    font-size: 2.5rem;
    color: #be3131;
    float: right
}

.work-content .w-like .num-like {
    font-size: .7rem
}

.w-title {
    font-size: 1.2rem
}

.testimonials .owl-carousel .owl-item img {
    width: auto
}

.testimonial-box .author-test {
    margin-top: 1rem
}

.testimonial-box .author-test img {
    margin: 0 auto
}

.testimonial-box .author {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1rem 0;
    display: block;
    font-size: 1.4rem
}

.testimonial-box .comit {
    font-size: 2rem;
    color: #be3131;
    background-color: #fff;
    width: 52px;
    height: 52px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    line-height: 1.6
}

.card-blog .card-category-box {
    position: absolute;
    text-align: center;
    top: -16px;
    left: 15px;
    right: 15px;
    line-height: 25px;
    overflow: hidden
}

.card-blog .card-category {
    display: inline-block;
    color: #fff;
    padding: 0 15px 5px;
    overflow: hidden;
    background-color: #be3131;
    border-radius: 4px
}

.card-blog .card-category .category {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: .1px;
    margin-bottom: 0
}

.card-blog .card-title {
    font-size: 1.3rem;
    margin-top: .6rem
}

.card-blog .post-date {
    color: #4e4e4e;
    display: inline-block;
    float: right
}

.box-comments,
.form-comments,
.post-box,
.widget-sidebar {
    padding: 2rem;
    background-color: #fff;
    margin-bottom: 3rem
}

.blog-wrapper .article-title {
    font-size: 1.5rem
}

.blog-wrapper .post-meta {
    margin: 1rem 0
}

.blog-wrapper .post-meta ul {
    border-left: 4px solid #be3131;
    margin-top: 1rem
}

.blog-wrapper .post-meta ul li {
    display: inline-block;
    margin-left: 15px
}

.blog-wrapper .blockquote {
    border-left: 4px solid #be3131;
    padding: 18px;
    font-style: italic
}

.box-comments .list-comments li {
    padding-bottom: 40px
}

.box-comments .list-comments .comment-avatar {
    display: table-cell;
    vertical-align: top
}

.box-comments .list-comments .comment-avatar img {
    width: 80px;
    height: 80px
}

.box-comments .list-comments .comment-author {
    font-size: 1.3rem
}

.box-comments .list-comments .comment-details {
    display: table-cell;
    vertical-align: top;
    padding-left: 25px
}

.box-comments .list-comments span {
    color: #1e1e1e;
    font-style: italic
}

.box-comments .comment-children {
    margin-left: 40px
}

.widget-sidebar .sidebar-title {
    font-size: 1.6rem;
    font-weight: 600;
    border-left: 5px solid #be3131;
    padding-left: 15px;
    text-transform: uppercase;
    margin-bottom: 1.5rem
}

.widget-sidebar .list-sidebar li {
    position: relative;
    padding: 6px 0 6px 24px
}

.widget-sidebar .list-sidebar li:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    left: 0;
    background-color: #be3131;
    top: 20px
}

.sidebar-search input {
    background-color: #fff;
    border-radius: 0;
    transition: .5s ease-in-out
}

.sidebar-search .btn-search {
    background-color: #be3131;
    border-color: #be3131;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px
}

.widget-tags ul li {
    display: inline-block;
    background-color: #be3131;
    padding: .2rem .6rem;
    margin-bottom: .5rem;
    border-radius: 15px
}

.footer-paralax {
    padding: 4rem 0 0
}

footer {
    text-align: center;
    color: #fff;
    padding-bottom: 4rem
}

footer .copyright {
    margin-bottom: .3rem
}

footer .credits {
    margin-bottom: 0
}

#sendmessage {
    color: #be3131;
    border: 1px solid #be3131;
    display: none;
    text-align: center;
    font-weight: 600
}

#errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    font-weight: 600
}

#errormessage.show,
#sendmessage.show,
.show {
    display: block
}

.validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px
}

.button {
    display: inline-block;
    padding: .3rem .6rem;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    border-radius: .3rem;
    border: 1px solid transparent;
    transition: .5s;
    cursor: pointer
}

.button:hover {
    background-color: #9c0d0d;
    color: #fff;
    transition: .5s
}

.button-a {
    background-color: #be3131;
    color: #fff;
    border-color: #f5dcdc
}

.button-big {
    padding: .9rem 2.3rem;
    font-size: 1.2rem
}

.button-rouded {
    border-radius: 5rem
}

.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem
}

@media (min-width:577px) {
    .counter-box {
        margin-bottom: 1.8rem
    }
}

@media (min-width:767px) {

    .about-mf .box-pl2,
    .contact-mf .box-pl2 {
        margin-top: 3rem;
        padding-left: 0
    }

    .card-blog {
        margin-bottom: 3rem
    }
}

@media (min-width:768px) {

    .box-comments,
    .box-shadow-full,
    .form-comments,
    .post-box,
    .widget-sidebar {
        padding: 3rem
    }

    .navbar-b.navbar-reduce .nav-item,
    .navbar-b.navbar-trans .nav-item {
        padding-left: 10px
    }

    .navbar-b.navbar-reduce .nav-link:before,
    .navbar-b.navbar-trans .nav-link:before {
        margin-left: 18px
    }

    .intro .intro-title {
        font-size: 4.5rem
    }

    .intro .intro-subtitle {
        font-size: 2.5rem
    }

    .intro-single .intro-title {
        font-size: 3.5rem
    }

    .testimonial-box .description {
        padding: 0 5rem
    }

    .blog-wrapper .article-title {
        font-size: 1.9rem
    }

    .box-comments .list-comments .comment-author {
        font-size: 1.5rem
    }
}

@media (min-width:992px) {
    .testimonial-box .description {
        padding: 0 8rem
    }
}

@media (min-width:1200px) {
    .testimonial-box .description {
        padding: 0 13rem
    }
}

@media (max-width:768px) {
    .back-to-top {
        bottom: 15px
    }
}